/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.invisible {
    visibility: hidden;
}

.no-display {
    display: none;
}

body, html {
    height: 100%;
    min-height: 100%;
    background-color: blue;
}

/***********
NAV HEADER
***********/

header {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 80px;
    z-index: 100;
}

/*#nav-logo {
    background: url('../images/nm-logo-cut-out.png');
    background-size: 80px;
    display: block;
    float: left;
    height: 80px;
    width: 80px;
    margin: 0px 0px 0px 10px;
}*/

#nav-logo {
    position: absolute;
    top: 3%;
    left: 1%;
    width: 23%;
    z-index: 101;
}

/*#nav-logo {
    position: absolute;
    top: 0%;
    left: 10px;
    width: 80px;
    z-index: 101;
}*/

nav {
    float: right;
    padding-right: 15px;
}

nav a {
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
    font-size: 20px;
    font-weight: bold;
    /*font-style: italic;*/
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    line-height: 80px;
}

nav a:hover {
    color: #96DDFC;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/*.hsContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hsContent {
    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
}*/

/*.loading {
    background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
    min-width: 960px;
    opacity: 0;
}
.loaded section,
.no-js section {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
main {
    overflow-x: hidden;
}
#preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}*/

#title-page {
    background-color: black;
    height: 100%;
    min-height: 100%;
}

.hsContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hsContainer2 {
    width: 100%;
    height: 100%;
    position: relative;
}

/*.hsContent {
    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
}
    .hsContent h2  {
        color: white;
        padding: 10px 5px;
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 12px;
    }*/

/*#home-logo {
    position: relative;
    top: 3%;
    left: 3%;
    width: 22%;
    z-index: 0;
}*/

#home-logo {
    background-image:url('../images/nm-logo-orig-cropped.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*position: fixed;*/
    background-size: 23%;
    height: 100%;
    top: 3%;
    left: 3%;
    width: 22%;
    z-index: 101;
}

#home-title {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    z-index: 1;
}

.story {
    background-color: white;
    height: 500px;
    color: black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 2px;
}

#story-container {
    width: 85%;
    margin: 0 auto;
}

#circle-profile {
    display: block;
    height: 200px;
    width: 200px;
    background-image:url('../images/profile-circle.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 80px;
}

/***********
NYC PAGE
************/

#NYC-page .bcg {
    background-image:url('../images/new-york-city.jpg');
    z-index: 2;
}

#ny-bg {
    background-image:url('../images/NM-logo-orig-clear.png'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%;
    height: 100%;
}

/*#NYC-page .hsContent {
    top: 5%;
    left: 3%;
}*/

#NYC-title {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    z-index: 3;
}

.blurb {
    background-color: rgba(0,0,0,0.7);
    padding: 20px; 
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 35%;
}

.b-one {
    position: relative;
    top: 40%;
    left: 50%;
    background-attachment: fixed;
}

.s-2 {
    padding-bottom: 30px;
}

.s-2 p {
    margin-bottom: .5em;
}

#section-container {
    width: 85%;
    margin: 0 auto;
}

#section-container a {
    text-decoration: none;
}

#section-container a:hover {
    text-decoration: none;
    color:#96DDFC;
}

#education {
    display: block;
    position: relative;
    width: 60%;
    float:right;
    margin-right: 5%
}

#education a {
    margin-left: 5%;
}

#stuy a{
    background-image:url('../images/stuy.png');
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    display: block;
    float:right;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#SVA a{
    background-image:url('../images/sva.png');
    width: 91px;
    height: 150px;
    background-size: 91px 150px;
    display: block;
    float:right;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#GA a{
    background-image:url('../images/logo.png');
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    display: block;
    float:right;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/***********
SYDNEY PAGE
************/

#Sydney-page .bcg {
    background-image:url('../images/sydney.jpg');
    z-index: 4;

}

#Sydney-page .hsContent {
    /*bottom: 3%;
    right: 7%;*/
    top: 81%;
    left: 73%;
}

#syd-bg {
    background-image:url('../images/nm-logo-cut-out.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 15%;
    height: 100%;
    /*top: 6%;
    left: 12%;*/
    width: 25%;
    background-position: 2% 3%;
    
}

#syd-title {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    /*z-index: 5;*/
}
/***********
STORY-3
************/

#s-3 {
    display: block;
    background-color: #00a8ff;
    height: 500px;
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 2px;
}


/********
WORK PAGE
*********/

#work {
    background-color: white;
    padding: 25px;
    padding-bottom: 95px;
    padding-top: 80px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
    /*font-size: 60px;*/
    font-weight: bold;
}

#work h1 {
    padding-left: 1%;
}


#work-section-container {
    width: 100%;
}

#work-container {
    width: 100%;
}

.work-sample {
    width: 33%;
    display: block;
    float: left;
    position: relative;
    text-align: center;
    z-index: 7;
}

.samples {
    margin: 5%;
    display: block;
    position: relative;
    z-index: 8;
    overflow: hidden;
}

.sample-image {
    width: 100%;
    position: relative;
    text-align: center;
    /*margin-bottom: 5%;*/
    z-index: 9;
    overflow: hidden;
}

.sample-image:hover {
    opacity: .5;
    transition: 0.7s;

}

.info {
    /*display: block;*/
    position: absolute;
    width: 91%;
    height: 100%;
    color: black;
    background-color: rgba(255,255,255,0.85);
    z-index: 10;
    top: 93%;
    padding-right: 5%;
    padding-left: 5%;
    overflow: hidden
}

.info h3 {
    margin-bottom: 0;
    margin-top: .5em
}

.info p {
    text-align: left;
    font-size: .9em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.tint {
    background-color: black;

}

.fade {

}

/**************
CONTACT PAGE
**************/


#contact {
    display: block;
    background-color: #00a8ff;
    height: 500px;
}

#contact-wrapper {
    padding-top: 40px;
}

#contact-pic-div {
    width: 25%;
    float: left;
    padding: 4% 5% 0% 6%;
    margin: 0;
}

#contact-pic {
    position: relative;
    width: 100%;
}

#contact-blurb {
    width: 62%;
    float: left;
    color: white;
}

#shout {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 40px;
}

#other {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 25px;
}

#contact-blurb a {
    color: white;
    font-size: 23px;
    font-family: Georgia, sans-serif;
    font-style: italic;
    text-decoration: none;
    margin-top:11px;
    margin-bottom: 11px;
    display: inline-block;
    float: left;
    margin-right: 30px;
}

#contact-blurb a:hover {
    color: #f6ff00;
}

#contact-blurb a:hover #sportsArt {
    height:100px;
    width: 100px;
    margin: 10px;
    transition: 0.1s;
}

#contact-blurb a:hover #drawing {
    height:100px;
    width: 100px;
    margin: 10px;
    transition: 0.1s;
}

#sportsArt {
    height:80px;
    width: 80px;
    margin: 10px;
}

#drawing {
    height:80px;
    width: 80px;
    margin: 10px;
}

.contact {
    font-size: 23px;
    font-family: Georgia, sans-serif;
    font-style: italic;
    margin-top: 7px;
    margin-bottom: 7px;
}

/*******
FOOTER
*******/

footer {
    display: block;
    background-color: black;
    color: white;
    height: 120px;
    padding: 20px;
}

footer p#elsewhere {
    display: inline;
    font-family: Georgia, sans-serif;
    font-style: italic;
    font-size: 18px;
    margin-left: 30%;
    line-height: 70px;
}

footer p#copyright {
    display: inline;
    font-family: Georgia, sans-serif;
    font-style: italic;
    font-size: 12px;
    /*float: right;
    margin-right: 45px;*/
    text-align: center;
    margin-left: 27%;
}

#nm-arts {
    display: block;
    height: 120px;
    width: 120px;
    background-image:url('../images/nm-logo-cut-out.png'); 
    background-size: 120px;
    background-repeat: no-repeat;
    float: left;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#links {
    display: block;
    height: 65px;
    width: 260px;
    float: right;
    margin-right: 40px;
    /*margin-top: 5px;*/
}

#links a {
    display: block;
    width: 65px;
    height: 65px;
    background-image: url('../images/social-media-sprite-nm.png');
    float: left;
      
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#links a.behance {
  background-position: 0px 0px;
}

#links a.twitter {
  background-position: -65px 0px;
}

#links a.github {
  background-position: -130px 0px;
}

#links a.linkedin {
  background-position: -195px 0px;
}

#links a.behance:hover{
  background-position: 0px -65px;
}

#links a.twitter:hover{
  background-position: -65px -65px;
}

#links a.github:hover{
  background-position: -130px -65px;
}


#links a.linkedin:hover {
  background-position: -195px -65px;
}

.clear {
    clear: both;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    display: none;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1025px)and (max-width : 1224px) {

    /*.info p {
        text-align: left;
        font-size: .8em;
        margin-top: .5em;
        margin-bottom: .5em;
    }*/

    #social-proof p {
        font-size: .8em;
    }

    #rick-rampage p {
        font-size: .8em;
    }

    #how-do-i-look p {
        font-size: .8em;
    }

}

@media only screen and (max-width: 1024px) {

    .story {
        background-color: white;
        height: 500px;
        color: black;
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
        font-size: 33px;
        font-weight: bold;
        padding-top: 2px;
    }

    #stuy a{
        background-image:url('../images/stuy.png');
        width: 120px;
        height: 120px;
        background-size: 120px 120px;
        display: block;
        float:right;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    #SVA a{
        background-image:url('../images/sva.png');
        width: 73px;
        height: 120px;
        background-size: 73px 120px;
        display: block;
        float:right;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    #GA a{
        background-image:url('../images/logo.png');
        width: 120px;
        height: 120px;
        background-size: 120px 120px;
        display: block;
        float:right;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .s-2 {
        height: 400px;
        padding-top: 55px;
    }

    #s-3 {
        display: block;
        background-color: #00a8ff;
        height: 375px;
        color: white;
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
        font-size: 33px;
        font-weight: bold;
        padding-top: 2px;
    }

    #s-3 p {
        margin-top: 70px;
    }

    .info h3 {
        font-size: .8em;
        margin-bottom: 0;
        margin-top: .5em
    }

    .info p {
        text-align: left;
        font-size: .8em;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    #social-proof p {
        font-size: .7em;
    }

    #rick-rampage p {
        font-size: .7em;
    }

    #how-do-i-look p {
        font-size: .7em;
    }

    /**************
    CONTACT PAGE
    **************/

    #shout {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 40px;
    }

    #other {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 25px;
    }

    #contact-blurb a {
        color: white;
        font-size: 23px;
        font-family: Georgia, sans-serif;
        font-style: italic;
        text-decoration: none;
        margin-top:11px;
        margin-bottom: 11px;
        display: inline-block;
        float: left;
        margin-right: 30px;
    }

    /*#contact {
        min-height: 500px;
    }*/

    #contact {
        height: 425px;
    }

    #contact-blurb a:hover {
        color: #f6ff00;
    }

    #contact-blurb a:hover #sportsArt {
        height:100px;
        width: 100px;
        margin: 10px;
        transition: 0.1s;
    }

    #contact-blurb a:hover #drawing {
        height:100px;
        width: 100px;
        margin: 10px;
        transition: 0.1s;
    }

    #sportsArt {
        height:80px;
        width: 80px;
        margin: 10px;
    }

    #drawing {
        height:80px;
        width: 80px;
        margin: 10px;
    }

    /*******
    FOOTER
    *******/

    #links {
        display: block;
        height: 65px;
        width: 260px;
        float: right;
        margin-right: 10px;
        /*margin-top: 5px;*/
    }

    #links a {
        display: block;
        width: 65px;
        height: 65px;
        background-image: url('../images/social-media-sprite-nm.png');
        float: left;
          
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    #links a.behance {
      background-position: 0px 0px;
    }

    #links a.twitter {
      background-position: -65px 0px;
    }

    #links a.github {
      background-position: -130px 0px;
    }

    #links a.linkedin {
      background-position: -195px 0px;
    }

    #links a.behance:hover{
      background-position: 0px -65px;
    }

    #links a.twitter:hover{
      background-position: -65px -65px;
    }

    #links a.github:hover{
      background-position: -130px -65px;
    }


    #links a.linkedin:hover {
      background-position: -195px -65px;
    }



}

@media only screen and (max-width: 975px) {

    /**************
    CONTACT PAGE
    **************/

    #contact {
        height: 520px;
    }

    #contact-blurb a {
        color: white;
        font-size: 23px;
        font-family: Georgia, sans-serif;
        font-style: italic;
        text-decoration: none;
        margin-top: 11px;
        margin-bottom: 0px;
        display: block;
        float: left;
        margin-right: 53px;
    }

    #other {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 25px;
    }

    /*******
    FOOTER
    *******/

    footer {
        display: block;
        background-color: black;
        color: white;
        height: 200px;
        padding: 20px;
    }

    footer p#elsewhere {
        display: inline;
        font-family: Georgia, sans-serif;
        font-style: italic;
        font-size: 18px;
        margin-left: 30%;
        line-height: 34px;
        float: left;
        margin-right: 100px;
    }

    #links {
        display: block;
        height: 65px;
        width: 260px;
        float: left;
        /* margin: 0 auto; */
        margin-left: 25%;
        /* margin-top: 37px; */
    }

    footer p#copyright {
        display: block;
        float: left;
        font-family: Georgia, sans-serif;
        font-style: italic;
        font-size: 12px;
        text-align: center;
        margin-left: 41%;
        margin-top: 54px;
    }

}

@media only screen and (max-width: 840px) {

    #education {
        display: block;
        position: relative;
        width: 66%;
        float: right;
        margin-right: 5%;
    }

    .s-2 {
        height: 435px;
        padding-top: 55px;
    }

    /**************
    CONTACT PAGE
    **************/
    #shout {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, 'nexa_boldregular', "AppleGothic", sans-serif;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 40px;
    }

    .contact {
        font-size: 20px;
        font-family: Georgia, sans-serif;
        font-style: italic;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    #s-3 {
        height: 415px;
    }

    /*******
    FOOTER
    *******/

    footer p#elsewhere {
        display: inline;
        font-family: Georgia, sans-serif;
        font-style: italic;
        font-size: 18px;
        margin-left: 24%;
        line-height: 34px;
        float: left;
        margin-right: 100px;
    }

    #links {
        display: block;
        height: 65px;
        width: 260px;
        float: left;
        /* margin: 0 auto; */
        margin-left: 17%;
        /* margin-top: 37px; */
    }

    footer p#copyright {
        display: block;
        float: left;
        font-family: Georgia, sans-serif;
        font-style: italic;
        font-size: 12px;
        text-align: center;
        margin-left: 36%;
        margin-top: 54px;
    }

}

/*tablet view*/
@media only screen and (max-width: 768px) {
    #contact {
        height: 530px;
    }

    .work-sample {
        width: 50%;
        display: block;
        float: left;
        position: relative;
        text-align: center;
        z-index: 7;
    }

    .info h3 {
        font-size: 1em;
        margin-bottom: 0;
        margin-top: .5em;
    }

    .info p {
        font-size: .8em;
    }

    #social-proof p {
        font-size: .8em;
    }

    #rick-rampage p {
        font-size: .8em;
    }

    #how-do-i-look p {
        font-size: .8em;
    }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {

}

/* Smartphones (portrait) ----------- */
/*@media only screen and (max-width : 320px) {

}*/

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
